body {
    font-family: 'Arial', sans-serif;
    background-color: #ffffff; /* Fondo blanco */
    color: #333333; /* Texto negro */
    margin: 0;
    padding: 0;
}

header {
    background-color: #4B0082; /* Vino */
    color: #ffffff;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 2.5em;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    background-color: #333333; /* Negro */
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: #ffffff;
    padding: 10px 15px;
    display: block;
}

nav ul li a:hover {
    background-color: #FFD700; /* Dorado */
    color: #333333; /* Negro */
}

main {
    padding: 20px;
}

main h2 {
    color: #4B0082; /* Vino */
}

footer {
    background-color: #333333; /* Negro */
    color: #ffffff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
